.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-image: url('./Assets/vinyl_shop.jpg');
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
}

.Tile {
  background-color: rgba(var(--color5), 0.85);
  border-color: var(--color1);
  border: 2px solid;
  padding: 8px;
  margin: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

:root {
  --color1: #362F2F;
  --color2: #987B54;
  --color3: #B99864;
  --color4: #D5B88E;
  --color5: 218,207,188;

}