.ArtistAndTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-weight: 500;
  margin-left: 3px;
}

.ServicesLinks {
  margin-left: 60px;
  display: flex;
  vertical-align: center;
}


.Logo {
  height: 24px;
  margin-left: 3px;
  margin-right: 3px;
  display: block;
}

.LogoHidden {
  height: 24px;
  margin-left: 3px;
  margin-right: 3px;
  opacity: 0.25;
}